body {
    color: #fff;
    background: #0D0D11;
    text-align: center;
    margin: auto;
    width: 1920px;
    height: 3288px;
}

li a {
    font-family: "Bakbak One", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    list-style: none;
    text-decoration: none;
    color: #fff;
}

.toggle-button {
    padding: 0;
    border: 0;
    height: 48px;
    background-color: transparent;
    cursor: pointer;
}

.discord-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 16px;
    color: #fff;
    font-family: "Bakbak One", Arial, sans-serif;
    font-weight: 400;
    line-height: 24px;
    padding: 12px 24px;
    border: none;
    width: 147px;
    height: 48px;
    background-color: #141B22;
    cursor: pointer;
}

.connect-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 16px;
    color: #000;
    font-family: "Bakbak One", Arial, sans-serif;
    font-weight: 400;
    line-height: 24px;
    padding: 12px 24px;
    border: none;
    height: 48px;
    width: 149px;
    background: #21E786;
    cursor: pointer;
}

.breadcrumbs-nav a {
    font-size: 14px;
    color: #888B8E;
    font-family: "Bakbak One", Arial, sans-serif;
    font-weight: 400;
    line-height: 20px;
}

.main-heading,
.heading {
    font-family: "Bakbak One", Arial, sans-serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 56px;
    color: #fff;
    margin: 0;
}

.sub-heading,
.how-to-text {
    font-family: "Bakbak One", Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #fff;
}

.how-to-heading {
    font-family: "Bakbak One", Arial, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #21E786;

}

.ot-member-pos,
.faq-description,
.joc-text,
.sub-text {
    font-family: Poppins, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #C2C3C5;
}

.copyright-text {
    font-family: Poppins, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;

}

.visually-hidden {
    visibility: hidden;
}

.nft-card,
.about-us-list-content,
.step-list,
.roadmap-phase-list,
.roadmap-nav-list,
.faqs-list,
.social-links-logo,
.social-links,
.filter-list,
.catalog-list,
.blog-list,
.tag-list,
.social-list,
.categories-list,
.recent-post-list {
    list-style: none;
}

.list-term {
    font-family: "Bakbak One", Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #C2C3C5;
}

.list-description {
    font-family: "Bakbak One", Arial, sans-serif;
    font-size: 56px;
    font-weight: 400;
    line-height: 68px;
    color: #fff;
    text-shadow: 0 4px 16px #FFFFFF66;
}

.list-item-number {
    font-family: "Bakbak One", Arial, sans-serif;
    font-weight: 400;
    font-size: 80px;
    line-height: 96px;
    color: #21E786;
    opacity: 30%;
}

.list-item-sub {
    font-family: Poppins, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #C2C3C5;
}

.joc-text-diff,
.sub-info {
    font-family: Poppins, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #F7F7F9;
}

.page-footer-text {
    font-family: Poppins, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.list-heading,
.main-content-heading,
.rating-by,
.caption-name,
.caption-name {
    font-family: "Bakbak One";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.subscribe-list ul li a,
.company-list ul li a {
    font-family: Poppins, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #C2C3C5;

}

.main-info,
.price-text,
.reply {
    font-family: "Bakbak One", Arial, sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
}

.details .sub-text {
    font-family: Poppins, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #FFFFFF;
}

.filter-item-selected {
    font-family: Poppins, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #F7F7F7;
}

.contdown {
    font-family: "Bakbak One", Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}

.countdown-number {
    font-family: "Bakbak One", Arial, sans-serif;
    font-size: 44px;
    font-weight: 400;
    line-height: 56px;
}

.countdown-unit {
    font-family: "Bakbak One", Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #F6F6F6;
}

.details-description,
.caption-description,
.article-text,
.reply-sub {
    font-family: Poppins, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #C2C3C5;
}

.info-category {
    font-family: Poppins, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #C2C3C5;
}

.info-detail {
    font-family: "Bakbak One", Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}

.caption-date,
.caption-author {
    font-family: "Bakbak One", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #888B8E;
}

.article-tag {
    font-family: "Bakbak One", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.blog-details>.article-author,
.article-date {
    font-family: Poppins, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #888B8E;
}

.quote {
    font-family: Poppins, Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
}

.rating {
    font-family: Poppins, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #BBBABE;
}

.blog-details>.article {
    font-family: "Bakbak One", Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 42px;
}

.tag-item a,
.sidebar-article p,
.sidebar-article time,
.tags-list li a {
    font-family: Poppins, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.article-text {
    font-family: Poppins, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    color: #888B8E;
}

.article-figure .sub-text,
.sidebar-article>h3 {
    font-family: Poppins, Arial, sans-serif;
    font-size: 14px;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: #fff;
}

.categories-link, .filter-item {
    font-family: Poppins, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #C2C3C5;

}

h2[class~="sidebar"] {
    font-family: "Bakbak One", Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}

.email-form {
    background-color: #C2C3C526;
    width: 690px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;

}

.catalog {
    width: 441px;
}

.email-input {
    background-color: transparent;
    border: none;
    color: white;
    height: 56px;
    width: 600px;
    padding-left: 15px;
    border: none;
}
.details-input,
.details-textarea,
.details-reply-textarea {
    background-color: #C2C3C526;
    border: none;
    height: 54px;
    padding: 14px 24px;
    margin: 10px 0;
    color: #fff;
    font-family: Poppins, Arial, sans-serif;
    font-size: 16px;
}
.details-form {
    display: flex;
    flex-direction: column;
    padding: 0 615px;
    margin: auto;
}
.input-group {
    display: flex;
}
.leave-reply {
    text-align: left;
    padding: 0 646px 0 254px;
}
.input-reply-group {
    display: flex;
}
input[class~="name"] {
    width: 240px;
    margin-right: 20px;
}
input[class~="email"] {
    width: 430px;
}
input[class~="reply-name"],
input[class~="reply-phone"] {
    width: 325px;
    margin-right: 20px;

}
input[class~="reply-email"],
input[class~="reply-website"] {
    width: 655px;

}
.details-reply-textarea{
    resize: none;
    height: 150px;
    width: 972px;
}
.details-textarea  {
    resize: none;
    height: 150px;
}

.email-input::placeholder, 
.details-input::placeholder,
.details-textarea::placeholder,
.details-reply-textarea::placeholder {
    color: #C2C3C5;
    font-family: Poppins, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;

}

.email-btn {
    background-color: #21E786;
    padding: 12px 24px;
    width: 154px;
    height: 56px;
    border: none;
    font-family: "Bakbak One", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #040B11;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 280px;
    height: 48px;
    background-color: #141B22;
    border: none;
}

.search-input {
    border: none;
    width: 280px;
    height: 48px;
    background-color: transparent;
    padding-left: 20px;
    color: #fff
}

.search-input::placeholder {
    color: #888B8E;
    font-family: Poppins, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.search-btn {
    background-color: transparent;
    appearance: none;
    border: none;
    padding-right: 20px;
    cursor: pointer;
}

.aside-filter {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 970px;

}
.aside-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}
.filter-box {
    display: flex;
    flex-direction: column;
    width: 280px;
    border: none;
    background-color: #141B22;
}

.details-box {
    display: flex;
    width: 280px;
    height: 234px;
}

.filter-title {
    font-family: "Bakbak One", Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    padding: 16px 12px;
    list-style: none;
}
.filter-box[open] .filter-title {
    border-bottom: 1px solid #434343;
}
.filter-box[open] {
    content: '';
    display: flex;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='4' viewBox='0 0 16 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5 2L8.00004 2L1.5 2' stroke='%2321E786' stroke-width='3' stroke-miterlimit='10' stroke-linecap='square' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 90% 12%;
}
.filter-box {
    content: '';
    display: flex;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.5 12L12 12H5.5' stroke='%2321E786' stroke-width='3' stroke-miterlimit='10' stroke-linecap='square' stroke-linejoin='round'/%3E%3Cpath d='M12 18.5L12 12L12 5.5' stroke='%2321E786' stroke-width='3' stroke-miterlimit='10' stroke-linecap='square' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 91% 50%;
}

.filter-list {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 106px;
    padding: 20px 23px;
    margin: 0;
}
.filter-item {
    display: flex;
    justify-content: start;
    vertical-align: center;
    gap: 6px;
}
.filter-item label {
    margin: 3px 0;
}

.item-checkbox {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #C2C3C5;
    border-radius: 2px;
    background-color: transparent;
    cursor: pointer;
    margin: 6px 0;
}

.item-checkbox:checked {
    content: '';
    background-color: #21E786;
    border: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.67531 0.666748L3.58017 5.39354L1.4254 3.09404L0 4.42972L3.48114 8.1447L10 2.10268L8.67531 0.666748Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
}


.page-header {
    display: flex;
    align-items: center;
    width: 1920px;
    height: 108px;
    border: 1px solid #000;
    box-sizing: border-box;
    padding: 0 100px;
}

.main-logo {
    display: flex;
    align-items: center;
}

.top-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    padding: 0;
    width: 709px;
    height: 24px;
    gap: 32px;

}

.nav-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-item .dropbtn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}


.nav-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 384px;
    height: 48px;
    gap: 20px;
}

.breadcrumbs-container {
    background-image: url(images/breadcrumbs-img.svg);
    background-color: #141B22;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 242px;
    text-align: center;
}

.breadcrumbs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.breadcrumbs-nav {
    display: flex;
    align-items: center;
}

.breadcrumbs-nav a {
    text-decoration: none;
    color: #888B8E;
    margin: 0 10px;
}

.about-us-section {
    box-sizing: border-box;
    display: inline-block;
    justify-content: center;
    width: 1410px;
    height: 612px;
    margin: auto;
}

.list-term+.list-description {
    display: inline-block;
}

.section-text {
    width: 930px;
    margin: auto;
}

.ot-portrait {
    border-radius: 50%;

}

.list-item {
    display: inline-block;
    width: 250px;
    height: 150px;
    margin: 0 5px;
    background: #141B22;
    padding: 10px;
}

.out-team {
    width: 1410px;
    height: 824px;
    display: inline-block;
    align-items: center;

}

.ot-members {
    padding: 0;
}

.ot-member {
    display: inline-block;
    justify-content: center;
    width: 330px;
    height: 339px;
    background: #141B22;
    margin: 7px;
}

.ot-portrait {
    border-radius: 50%;
}

.partners {
    width: 1410px;
    height: 474px;
    margin: auto;
}

.join-our-community {
    width: 1410px;
    height: 246px;
    border-radius: 8px 0px 0px 0px;
    margin: auto;
    background: linear-gradient(268.28deg, #2333DE -1.34%, #0ABE66 100%);
}

.partner-logo {
    display: inline-block;
    margin: 0 5px;
    padding: 10px;
}

.social {
    list-style: none;
    display: inline-block;
}

.catalog-menu {
    background: #141B22;
}

span {
    color: #21E786;
    margin: auto;
    display: inline;
}