body {
    color: #fff;
    background: #0D0D11;
    text-align: center;
    margin: auto;
    width: 1920px;
    height: 3288px;
}

li a {
    font-family: "Bakbak One", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    list-style: none;
    text-decoration: none;
    color: #fff;
}

.toggle-button {
    padding: 0;
    border: 0;
    height: 48px;
    background-color: transparent;
    cursor: pointer;
}

.discord-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 16px;
    color: #fff;
    font-family: "Bakbak One", Arial, sans-serif;
    font-weight: 400;
    line-height: 24px;
    padding: 12px 24px;
    border: none;
    width: 147px;
    height: 48px;
    background-color: #141B22;
    cursor: pointer;
}

.connect-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 16px;
    color: #000;
    font-family: "Bakbak One", Arial, sans-serif;
    font-weight: 400;
    line-height: 24px;
    padding: 12px 24px;
    border: none;
    height: 48px;
    width: 149px;
    background: #21E786;
    cursor: pointer;
}

.breadcrumbs-nav a {
    font-size: 14px;
    color: #888B8E;
    font-family: "Bakbak One", Arial, sans-serif;
    font-weight: 400;
    line-height: 20px;
}

.main-heading,
.heading {
    font-family: "Bakbak One", Arial, sans-serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 56px;
    color: #fff;
    margin: 0;
}

.sub-heading,
.how-to-text {
    font-family: "Bakbak One", Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #fff;
}

.how-to-heading {
    font-family: "Bakbak One", Arial, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #21E786;

}

.ot-member-pos,
.faq-description,
.joc-text,
.sub-text {
    font-family: Poppins, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #C2C3C5;
}

.copyright-text {
    font-family: Poppins, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;

}

.visually-hidden {
    visibility: hidden;
}

.nft-card,
.about-us-list-content,
.step-list,
.roadmap-phase-list,
.roadmap-nav-list,
.faqs-list,
.social-links-logo,
.social-links,
.filter-list,
.catalog-list,
.blog-list,
.tag-list,
.social-list,
.categories-list,
.recent-post-list {
    list-style: none;
}

.list-term {
    font-family: "Bakbak One", Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #C2C3C5;
}

.list-description {
    font-family: "Bakbak One", Arial, sans-serif;
    font-size: 56px;
    font-weight: 400;
    line-height: 68px;
    color: #fff;
    text-shadow: 0 4px 16px #FFFFFF66;
}

.list-item-number {
    font-family: "Bakbak One", Arial, sans-serif;
    font-weight: 400;
    font-size: 80px;
    line-height: 96px;
    color: #21E786;
    opacity: 30%;
}

.list-item-sub {
    font-family: Poppins, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #C2C3C5;
}

.joc-text-diff,
.sub-info {
    font-family: Poppins, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #F7F7F9;
}

.page-footer-text {
    font-family: Poppins, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.list-heading,
.main-content-heading,
.rating-by,
.caption-name,
.caption-name {
    font-family: "Bakbak One";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.subscribe-list ul li a,
.company-list ul li a {
    font-family: Poppins, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #C2C3C5;

}

.main-info,
.price-text,
.reply {
    font-family: "Bakbak One", Arial, sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
}

.details .sub-text {
    font-family: Poppins, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #FFFFFF;
}

.filter-item-selected {
    font-family: Poppins, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #F7F7F7;
}

.contdown {
    font-family: "Bakbak One", Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}

.countdown-number {
    font-family: "Bakbak One", Arial, sans-serif;
    font-size: 44px;
    font-weight: 400;
    line-height: 56px;
}

.countdown-unit {
    font-family: "Bakbak One", Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #F6F6F6;
}

.details-description,
.caption-description,
.article-text,
.reply-sub {
    font-family: Poppins, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #C2C3C5;
}

.info-category {
    font-family: Poppins, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #C2C3C5;
}

.info-detail {
    font-family: "Bakbak One", Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}

.caption-date,
.caption-author {
    font-family: "Bakbak One", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #888B8E;
}

.article-tag {
    font-family: "Bakbak One", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.blog-details>.article-author,
.article-date {
    font-family: Poppins, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #888B8E;
}

.quote {
    font-family: Poppins, Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
}

.rating {
    font-family: Poppins, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #BBBABE;
}

.blog-details>.article {
    font-family: "Bakbak One", Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 42px;
}

.tag-item a,
.sidebar-article p,
.sidebar-article time,
.tags-list li a {
    font-family: Poppins, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.article-text {
    font-family: Poppins, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    color: #888B8E;
}

.article-figure .sub-text,
.sidebar-article>h3 {
    font-family: Poppins, Arial, sans-serif;
    font-size: 14px;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: #fff;
}

.categories-link {
    font-family: Poppins, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #C2C3C5;

}

h2[class~="sidebar"] {
    font-family: "Bakbak One", Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}

.page-header {
    display: flex;
    align-items: center;
    width: 1920px;
    height: 108px;
    border: 1px solid #000;
    box-sizing: border-box;
    padding: 0 100px;
}

.main-logo {
    display: flex;
    align-items: center;
}

.top-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    padding: 0;
    width: 709px;
    height: 24px;
    gap: 32px;

}

.nav-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-item .dropbtn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}


.nav-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 384px;
    height: 48px;
    gap: 20px;
}

.breadcrumbs-container {
    background-image: url(images/breadcrumbs-img.svg);
    background-color: #141B22;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 242px;
    text-align: center;
}

.breadcrumbs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.breadcrumbs-nav {
    display: flex;
    align-items: center;
}

.breadcrumbs-nav a {
    text-decoration: none;
    color: #888B8E;
    margin: 0 10px;
}

.about-us-section {
    box-sizing: border-box;
    display: inline-block;
    justify-content: center;
    width: 1410px;
    height: 612px;
    margin: auto;
}

.list-term+.list-description {
    display: inline-block;
}

.section-text {
    width: 930px;
    margin: auto;
}

.ot-portrait {
    border-radius: 50%;

}

.list-item {
    display: inline-block;
    width: 250px;
    height: 150px;
    margin: 0 5px;
    background: #141B22;
    padding: 10px;
}

.out-team {
    width: 1410px;
    height: 824px;
    display: inline-block;
    align-items: center;

}

.ot-members {
    padding: 0;
}

.ot-member {
    display: inline-block;
    justify-content: center;
    width: 330px;
    height: 339px;
    background: #141B22;
    margin: 7px;
}

.ot-portrait {
    border-radius: 50%;
}

.partners {
    width: 1410px;
    height: 474px;
    margin: auto;
}

.join-our-community {
    width: 1410px;
    height: 246px;
    border-radius: 8px 0px 0px 0px;
    margin: auto;
    background: linear-gradient(268.28deg, #2333DE -1.34%, #0ABE66 100%);
}

.partner-logo {
    display: inline-block;
    margin: 0 5px;
    padding: 10px;
}

.social {
    list-style: none;
    display: inline-block;
}

.catalog-menu {
    background: #141B22;
}

span {
    color: #21E786;
    margin: auto;
    display: inline;
}